
.ingredients{
padding-top: 5vh;
}

h6{
    color: #7eed8e;
    font-weight: bold;
}

ul {
    list-style: none;
  }
  
  ul li::before .ingredients-items {
    content: "\2022";
    color: #7eed8e;
    font-weight: bold;
    font-size: 30px;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

